body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #515076;
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    width: 1110px;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
}

.description, .compound {
    line-height: 18px;
    margin: 0;
}

.product-card {
    width: 340px;
    background: #F7F7FA;
}

.product-label {
    display: block;
    margin-top: 10px;
}