body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #515076;
    margin: 0;
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    width: 1280px;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
}

.description, .compound {
    line-height: 18px;
    margin: 0;
}

.product-card {
    width: 340px;
    background: #F7F7FA;
    padding: 25px;
}

.product-label {
    display: block;
    margin-top: 10px;
}

.product-price-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.product-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    margin-left: 150px;
}
div.container {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    position: absolute;
    width: 100%;;
    z-index: -1;
}
